.App {
  text-align: center;
  z-index: 999;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.div-Particles{
  z-index: -999;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.tsparticles-canvas-el{
  z-index: -999;
  position : fixed; 
  left:0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (min-width: 1200px) {
  .container{
    max-width: none;
    width: 100%;
    margin-right: 100px;
    margin-left: 100px;
  }
}

section{
  width: 80% !important;
    margin: auto;
    max-width: none !important;
    background-color: #fff;
    text-align: center;
}
body{
  font-size: 1rem;
    line-height: 1.5;
    color: #011839;
    background-color: #011839 !important;
}
.Main{
  position: relative;
  z-index: 0;
  padding-bottom: 100px;
}
.Main:after {
  content: "";
  display: block;
  position: absolute;
  width: 250px;
  height: 250px;
  background-image: url(http://getbento.imgix.net/accounts/f7efa3ac70fc351a1aa21cbd6bbe24c6/media/images/88819bresca_stamped.png);
  background-size: contain;
  right: 10px;
  bottom: 10px;
  background-repeat: no-repeat;
  opacity: 1;
  background-position: bottom;
  z-index: 9;
}